<ng-container *ngIf="tableData$ | async as tableData">
  <p-table [value]="tableData" class="responsive-table px-4">
    <ng-template pTemplate="header">
      <tr class="">
        <th>Title</th>
        <th>Artist Name</th>
        <th>Image Id</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-item>
      <tr>
        <td class="flex-grow-1">{{ item.image_id }}</td>
        <td class="flex-grow-1">{{ item.title }}</td>
        <td class="flex-grow-1">
          <img
            onerror="this.src='https://placehold.co/100x25';"
            [src]="item.thumbnail?.lqip"
            [alt]="item.thumbnail?.alt_text"
            width="100%"
            class="shadow-4"
          />
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="summary">
      <div class="flex align-items-center justify-content-between">
        In total there are {{ tableData ? tableData.length : 0 }} artworks
      </div>
    </ng-template>
  </p-table>
</ng-container>
