@import "primeicons/primeicons.css";
body {
  font-family: Helvetica;
  margin: 0;
  padding: 0;
  height: 100vh;
}

.input-error {
  font-size: 15px;
  padding-top: 3px;
  color: #e24c4c;
}
.text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
